body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

<<<<<<< HEAD
#prehistoric_body {
	background-color: Bisque;
}


#medieval_body {
	background-color: Gainsboro;
}

#early_modern_body {
	background-color: DarkSalmon;
}

.prehistoric_color {
	background-color: BurlyWood;
}

.medieval_color {
	background-color: Ivory;
}

.early_modern_color {
	background-color: Salmon;
}

.images {
	border: solid;
	margin-left: 12%;
	margin-top: 3%
}

.text {
	font-size: 200%;
	margin-left: 20%;
	margin-top: 2%;
	border: solid;
	display: inline-block;
}

.title {
	text-align: center;
	margin: auto;
	margin-top: 3%;
	border: solid;
}

.date {
	text-align: center;
	margin-left: auto;
	margin-right:auto;
	margin-top: 1%;
	border: solid;
}
=======
.info {
 /* flex-basis: 40%;*/
  display:flex;
  max-width:980px;
  margin:auto;
  align-items:center;
}
.infotext{padding:10px;}


#hometext {
	font-size: 25px;
}

#home {
	text-align: center;
	font-size: 50px;
}

>>>>>>> a0585bf8ae7a8434ae8ea459fc1099614cfb9259
