

.text {
	border: 3px solid black;
	width: 80%;
	margin: auto; 

}


body {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

#prehistoric_body {
	background-color: Bisque;
}


#medieval_body {
	background-color: Gainsboro;
}

#early_modern_body {
	background-color: PeachPuff;
}

.prehistoric_color {
	background-color: BurlyWood;
}

.medieval_color {
	background-color: Ivory;
}

.early_modern_color {
	background-color: SeaShell;
}

.images {
	border: solid;
	margin-left: 12%;
	margin-top: 3%
}

#king {
	border: solid;
	margin-left: 19.5%;
	margin-top: 3%
}


.title {
	text-align: center;
	margin: auto;
	margin-top: 3%;
	border: solid;
}

.date {
	text-align: center;
	margin-left: auto;
	margin-right:auto;
	margin-top: 1%;
	border: solid;
}

.info {
  display:flex;
  max-width:980px;
  margin:auto;
  align-items:center;
}
.infotext{padding:10px;}

blockquote {
margin-left: 2em;
margin-right: 2em;
padding-left: 1em;
border-left: 4px solid black;
}

figcaption {
margin-left: 2em;
font-style: italic;
color: #555;
margin-top: 0.5em;
}

#hometext {
	font-size: 25px;
}

#home {
	text-align: center;
	font-size: 50px;
}


#demo {
	width: 10%;
	height: 10%;
	border: solid;'
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

#carousel_text {
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
	font-size: 200%;
	border: solid;
}